body {
    font-family: 'Montserrat', sans-serif;
    text-align: justify; 
    background: linear-gradient(to bottom, #ff416c, #ff9a9e 30%, #ff4b2b 100%);
    color: #fff;
    margin: 0;
    padding: 0;
}
h2 {
    background: -webkit-linear-gradient(left, #ff9a9e, #fad0c4);
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
button {
    background-color: #fff;
    color: #ff4b2b;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
}
button:hover {
    background-color: #ff4b2b;
    color: white;
}
button:active {
    transform: scale(1.02); 
    background: #3a2e1d; 
}
