body {
    font-family: 'Orbitron', sans-serif;
    text-align: justify; 
    background: linear-gradient(45deg, #2d2d2d, #141414); 
    color: #0ff;
}
h2 {
    color: #ff0080;
    text-shadow: 3px 3px 6px #ff0080;
}
button {
    background: #ff0080;
    color: white;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ff0080;
    transition: 0.3s;
}
button:hover {
    background: #0ff;
    color: black;
}
button:active {
    transform: scale(1.02); 
    background: #3a2e1d; 
}